@import "../../styles/variables";

.btn {
    background: $blue;
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: $letter-spacing;
    color: $white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}
