.img {
    border-radius: 16px;
    transition: all 1s ease-in-out;
    width: 100%;
    &:hover {
        filter: brightness(70%);
        + .subtitle {
        }
    }
}

.subtitle {
    position: relative;
    color: white;
    font-weight: 700;
    bottom: 90px;
    left: 20px;
    transition: all 1s linear;
    display: block;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}
