figure {
    position: relative;
    display: inline-block;
    &:hover {
        img {
            filter: brightness(45%);
        }
    }
}

.img {
    border-radius: 16px;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.subtitle {
    color: white;
    font-weight: 700;
    transition: all 1s linear;
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 18px;
}

.btnDelete {
    top: 10%;
    right: 5%;
    transition: all 1s linear;
    position: absolute;
    font-size: 18px;
    button {
        border: 1px solid #eb5757;
        border-radius: 38px;
        background: none;
        color: #eb5757;
        padding: 5px 15px;
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}
