@import "../../../styles/variables";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0 2.7% 0;

    .divFlexCenter {
        display: flex;
        align-items: center;
        cursor: pointer;

        label {
            margin: 0 0 0 40px;
            border-radius: 12px;
        }

        img {
            margin: 0 11px 0 32px;
            width: 48px;
            border-radius: 10px;
        }

        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: var(--letter-spacing);
            color: #333333;
            margin-right: 16px;
        }

        span {
            color: #333333;
            font-size: 26px;
        }
    }
}
