@import "../../styles/variables";

.loading {
    background: $white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 36px 32px;

    h1 {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: $letter-spacing;
        color: $dark-gray;
        margin-bottom: 18px;
        text-align: left;
    }

    progress:not([value]) {
        width: 21.294rem;
        height: 15px;
        -webkit-appearance: none;
        appearance: none;
    }
}

.indeterminate-progress-bar {
    background-color: #f2f2f2;
    border-radius: 9999px;
    height: 0.5rem;
    position: relative;
    overflow: hidden;
    width: 21.294rem;
}

.indeterminate-progress-bar__progress {
    background-color: $blue;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 30%;

    /* animation */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}
